.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task-controls {
  display: flex;
  justify-content: space-between;
}

.task-controls-edit-delete {
  display: flex;
  gap: 0.75rem;
}

.reminder {
  border-radius: 4px;
  border-left: 5px solid green;
}

.active {
  background: #2bba41;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
