<div
  class="task"
  [class.reminder]="task.reminder"
  (dblclick)="onToggleShowDetails($event)"
>
  <div>
    <h3>{{ task.text }}</h3>
  </div>

  <div class="task-controls">
    <app-button
      text="{{ task.reminder ? 'Cancel remind' : 'Remind' }}"
      color="blue"
      (btnClick)="toggleReminder.emit(task.id)"
    ></app-button>

    <div class="task-controls-edit-delete">
      <app-button color="red" (btnClick)="delete.emit(task.id)">
        <lucide-icon [img]="DeleteIcon" size="18px"></lucide-icon>
      </app-button>

      <app-button color="green" (btnClick)="edit.emit(task)">
        <lucide-icon [img]="EditIcon" size="18px"></lucide-icon>
      </app-button>
    </div>
  </div>

  @if (showDetails()) {
    <p>{{ task.day }}</p>
  }
</div>
