<div class="task" [class.reminder]="task.reminder">
  <div (click)="onToggleShowDetails($event)">v</div>
  <div style="display: flex; justify-content: space-between">
    <h3>{{ task.text }}</h3>

    <app-button text="x" color="red" (btnClick)="onDeleteTask()"></app-button>
    <app-button
      text="{{ task.reminder ? 'Remind' : 'Cancel remind' }}"
      color="blue"
      (btnClick)="onToggleTaskReminder()"
    ></app-button>
    <app-button color="green" (btnClick)="onEdit()" text="Edit"> </app-button>
  </div>

  @if (showDetails()) {
    <p>{{ task.day }}</p>
  }
</div>
