<div class="task-list">
  @if (!tasks().length) {
    <p>No tasks! Congrats, all achieved.</p>
  } @else {
    <p>
      You have {{ tasks().length }}
      {{ tasks().length === 1 ? "task" : "tasks" }}
    </p>
  }

  @for (task of tasks(); track task.id) {
    <app-task-item [task]="task" (edit)="openEditModal(task)"></app-task-item>
  }

  @if (selectedTask(); as activeTask) {
    <app-modal (closeModal)="onCloseModal()">
      <h2>Editing: {{ activeTask.text }}</h2>

      <app-button
        text="Done"
        color="blue"
        (btnClick)="onCloseModal()"
      ></app-button>
    </app-modal>
  }
</div>
