<div class="task-list">
  @if (!tasks().length) {
    <p>No tasks! Congrats, all achieved.</p>
  } @else {
    <p>
      You have {{ tasks().length }}
      {{ tasks().length === 1 ? "task" : "tasks" }}
    </p>
  }

  @for (task of tasks(); track task.id) {
    <app-task-item [task]="task" (edit)="openEditModal(task)"></app-task-item>
  }

  @if (selectedTask(); as activeTask) {
    <app-modal (closeModal)="onCloseModal()">
      <form [formGroup]="editForm" (ngSubmit)="onSave()">
        <div>
          <label>Task</label>
          <input type="text" formControlName="text" />
        </div>

        <div>
          <label>Day & time</label>
          <input type="text" formControlName="day" />
        </div>

        <div>
          <label>Reminder</label>
          <input type="checkbox" formControlName="reminder" />
        </div>

        <button type="submit">Save</button>
      </form>
    </app-modal>
  }
</div>
