nav {
  display: flex;
  padding-inline: 2rem;
  padding-block: 8px;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;
}

.author-date {
  display: flex;
  background-color: green;
  gap: 0.5rem;
}
