nav {
  display: flex;
  padding-inline: 2rem;
  padding-block: 8px;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.4s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.author-date {
  display: flex;
  gap: 0.5rem;
}
